.banner{
    .swiper {
        width: 100%;
        height: 100%;
        
        img{
            margin-bottom: -6px;
        }
        .swiper-button-prev , .swiper-button-next{
            color: red;
        }
      }
}

.service{
    background-color: black;
    padding:  30px 0px;
    @media screen and (max-width:426px) {
       display: none !important;
    }
    &> div{
        .mat-mdc-card{
            background-color: black;
            .service_content{
                border-right: 1px solid gray;
                .service_icon{
                    padding: 0px 20px;
                    color: #fff;
                    &:hover{
                        color: red;
                        transition: 1s;
                    }
                  
                }
                .mat-mdc-card-title{
                    color: #fff;
                    font-size: 20px;
                }
                .mat-mdc-card-subtitle{
                    color: gray;
                }
            }
            
        }
        &:last-child {
            .service_content{
                border-right: none !important;
            }
           
        }
       
    }
}
