<div id="banner" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/modules/cz_imageslider/views/img/sample-1.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/modules/cz_imageslider/views/img/sample-2.jpg"
                class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="service">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
        <mat-card class="example-card">
            <div class="service_content" fxLayoutAlign="center center">
                <div class="service_icon">
                    <mat-icon>send_boder</mat-icon>
                </div>
                <div>
                    <mat-card-title>Worldwide Shipping</mat-card-title>
                    <mat-card-subtitle>Order Above $100</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
        <mat-card class="example-card">
            <div class="service_content" fxLayoutAlign="center center">
                <div class="service_icon">
                    <mat-icon>assignment_return</mat-icon>
                </div>
                <div>
                    <mat-card-title>Easy 30 Day Returns</mat-card-title>
                    <mat-card-subtitle>Back Returns In 7 Days</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
        <mat-card class="example-card">
            <div class="service_content" fxLayoutAlign="center center">
                <div class="service_icon">
                    <mat-icon>branding_watermark</mat-icon>
                </div>
                <div>
                    <mat-card-title>Money Back Gaurantee</mat-card-title>
                    <mat-card-subtitle>Gaurantee With In 30 Days</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
        <mat-card class="example-card">
            <div class="service_content" fxLayoutAlign="center center">
                <div class="service_icon">
                    <mat-icon>support_agent</mat-icon>
                </div>
                <div>
                    <mat-card-title>Easy Online Support</mat-card-title>
                    <mat-card-subtitle>Any Time Support</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>

</div>