<app-banner></app-banner>
<div class="czsubbanner" fxLayout="row wrap" fxLayoutGap="50px grid">
  <div class="czsubbanner_item" fxFlex="33%">
    <div class="image">
      <img width="100%" src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/cms/sub-banner-1.jpg" alt="">
    </div>
    <div class="content">
      <h3>20% Discount</h3>
      <h2>Graceful Women's Collection</h2>
      <a href=""><strong>Shop now</strong></a>
    </div>
  </div>
  <div class="czsubbanner_item" fxFlex="33%">
    <div class="image">
      <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/cms/sub-banner-2.jpg" alt="">
    </div>
    <div class="content">
      <h3>10% Discount</h3>
      <h2>Handsome Men's Collection</h2>
      <a href=""><strong>Shop now</strong></a>
    </div>
  </div>
  <div class="czsubbanner_item" fxFlex="33%">
    <div class="image">
      <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/cms/sub-banner-3.jpg" alt="">
    </div>
    <div class="content">
      <h3>20% Discount</h3>
      <h2>Beautiful Women's Collection</h2>
      <a href=""><strong>Shop now</strong></a>
    </div>
  </div>
</div>
<div class="czcategorytabs">
  <h1>Trending Collection</h1>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Jumpsuit">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="25%" class="box">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/0/30-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/1/31-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div fxFlex="25%" class="box">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/0/30-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/1/31-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div fxFlex="25%" class="box">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/0/30-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/1/31-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div fxFlex="25%" class="box">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/0/30-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/1/31-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div fxFlex="25%" class="box">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/0/30-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/1/31-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div fxFlex="25%" class="box">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/0/30-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/1/31-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div fxFlex="25%" class="box">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/0/30-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/1/31-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div fxFlex="25%" class="box">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/0/30-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/1/31-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>

      </div>
      <div class="all_product">
        <a href="">View All Products</a>
      </div>
    </mat-tab>
    <mat-tab label="Overcoat">a</mat-tab>
    <mat-tab label="Jacket">a</mat-tab>
    <mat-tab label="Dresses">a</mat-tab>
  </mat-tab-group>
</div>

<div class="czcategoryimagelist">
  <div class="categoryimagelist_inner" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
    <div class="categoryimage">
      <img width="100%"
        src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/modules/cz_categoryimagelist/views/img/4-cz_categoryimagelist.png"
        alt="">
    </div>
    <div class="categorylist">
      <a href="">Dress Collection</a>
      <div class="text_box">
        <h4>14 items</h4>
        <a href="">View Collection</a>
      </div>
    </div>
  </div>
  <div class="categoryimagelist_inner" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
    <div class="categoryimage">
      <img width="100%"
        src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/modules/cz_categoryimagelist/views/img/16-cz_categoryimagelist.png"
        alt="">
    </div>
    <div class="categorylist">
      <a href="">Dress Collection</a>
      <div class="text_box">
        <h4>14 items</h4>
        <a href="">View Collection</a>
      </div>
    </div>
  </div>
  <div class="categoryimagelist_inner" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
    <div class="categoryimage">
      <img width="100%"
        src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/modules/cz_categoryimagelist/views/img/17-cz_categoryimagelist.png"
        alt="">
    </div>
    <div class="categorylist">
      <a href="">Dress Collection</a>
      <div class="text_box">
        <h4>14 items</h4>
        <a href="">View Collection</a>
      </div>
    </div>
  </div>
  <div class="categoryimagelist_inner" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
    <div class="categoryimage">
      <img width="100%"
        src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/modules/cz_categoryimagelist/views/img/18-cz_categoryimagelist.png"
        alt="">
    </div>
    <div class="categorylist">
      <a href="">Dress Collection</a>
      <div class="text_box">
        <h4>14 items</h4>
        <a href="">View Collection</a>
      </div>
    </div>
  </div>
  <div class="categoryimagelist_inner" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%">
    <div class="categoryimage">
      <img width="100%"
        src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/modules/cz_categoryimagelist/views/img/19-cz_categoryimagelist.png"
        alt="">
    </div>
    <div class="categorylist">
      <a href="">Dress Collection</a>
      <div class="text_box">
        <h4>14 items</h4>
        <a href="">View Collection</a>
      </div>
    </div>
  </div>
</div>

<div class="cztestimonialcmsblock">
  <h1>Our Clients Says</h1>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="des">
          Unchanged dummy text of the printing and typesetting industrys standard dummy text ever not only five
          centuries, but also the leap into electronic typesetting, Lorem Ipsum is simply Lorem Ipsum has been the
          industry' remaining essentially.
        </div>
        <div class="customer">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/cms/user1.jpg" width="100%" alt="...">
        </div>
        <div class="cus_info">
          <a href="">Stephnie MackMohan</a>
          <p>Web Designer</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="des">
          Unchanged dummy text of the printing and typesetting industrys standard dummy text ever not only five
          centuries, but also the leap into electronic typesetting, Lorem Ipsum is simply Lorem Ipsum has been the
          industry' remaining essentially.
        </div>
        <div class="customer">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/cms/user2.jpg" width="100%" alt="...">
        </div>
        <div class="cus_info">
          <a href="">Jecob goeckno</a>
          <p>Manager</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="des">
          Unchanged dummy text of the printing and typesetting industrys standard dummy text ever not only five
          centuries, but also the leap into electronic typesetting, Lorem Ipsum is simply Lorem Ipsum has been the
          industry' remaining essentially.
        </div>
        <div class="customer">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/cms/user3.jpg" width="100%" alt="...">
        </div>
        <div class="cus_info">
          <a href="">Luies charls</a>
          <p>Web Designer</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="featured_products">
  <h1>Featured Products</h1>
  <div class="product_slide">
    <div #swiperRef="" class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/0/30-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/1/31-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/2/4/24-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/2/5/25-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/6/36-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/3/7/37-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/4/2/42-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/4/3/43-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product">
            <div class="image_product">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/4/8/48-home_default.jpg" width="100%"
                alt="">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/p/4/9/49-home_default.jpg" width="100%"
                alt="">
              <div class="favorite_icon">
                <mat-icon>favorite_border</mat-icon><br>
                <mat-icon>compare_arrows</mat-icon><br>
                <mat-icon>checkroom</mat-icon>
              </div>
              <div class="add_cart">
                <a href="">Add to cart</a>
              </div>
            </div>
            <div class="infor_product">
              <div class="product_icon">
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
                <mat-icon>star_border_purple500</mat-icon>
              </div>
              <h4>Exercitaesent Virginiamque</h4>
              <h2><strong>€87.00</strong></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="prev_next">
        <div class="swiper-button-next1">
          <span class='material-icons next1'>arrow_forward_ios</span>
        </div>
        <div class="swiper-button-prev1">
          <span class='material-icons prev1'>arrow_back_ios</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cmsbanners">
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div class="cmsbanner-inner" fxFlex="50%">
      <div class="image_cmsbanner">
        <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/cms/cms-banner-1.jpg" width="100%" alt="">
      </div>
      <div class="content_cmsbanner">
        <h3>Up To 30% Discount</h3>
        <h1>Nantucket Sweat Hooded</h1>
        <a href=""><strong>Shop now</strong></a>
      </div>
    </div>
    <div class="cmsbanner-inner" fxFlex="50%">
      <div class="image_cmsbanner">
        <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/cms/cms-banner-2.jpg" width="100%" alt="">
      </div>
      <div class="content_cmsbanner">
        <h3>Up To 40% Discount</h3>
        <h1>Angora Cardigan Nordstrom</h1>
        <a href=""><strong>Shop now</strong></a>
      </div>
    </div>
  </div>
</div>

<div class="lastest_block">
  <h1>Our Latest Blog</h1>

  <div class="blog_slide">
    <div #swiperRef="" class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="blog">
            <div class="image_blog">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/psblog/b/9/1113_1430/b-blog-7.jpg"
                width="100%" alt="">
              <div class="blog_icon">
                <mat-icon>search</mat-icon>
                <mat-icon>attach_file</mat-icon>
              </div>
            </div>
            <div class="content">
              <h4>15 September, 2021</h4>
              <h2>Nullam ullamcorper ornare...</h2>
              <p>Suspendisse posuere, diam in bibendum lobortis, turpis ipsum...</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog">
            <div class="image_blog">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/psblog/b/8/1113_1430/b-blog-6.jpg"
                width="100%" alt="">
              <div class="blog_icon">
                <mat-icon>search</mat-icon>
                <mat-icon>attach_file</mat-icon>
              </div>
            </div>
            <div class="content">
              <h4>15 September, 2021</h4>
              <h2>Nullam ullamcorper ornare...</h2>
              <p>Suspendisse posuere, diam in bibendum lobortis, turpis ipsum...</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog">
            <div class="image_blog">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/psblog/b/7/1113_1430/b-blog-5.jpg"
                width="100%" alt="">
              <div class="blog_icon">
                <mat-icon>search</mat-icon>
                <mat-icon>attach_file</mat-icon>
              </div>
            </div>
            <div class="content">
              <h4>15 September, 2021</h4>
              <h2>Nullam ullamcorper ornare...</h2>
              <p>Suspendisse posuere, diam in bibendum lobortis, turpis ipsum...</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog">
            <div class="image_blog">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/psblog/b/6/1113_1430/b-blog-4.jpg"
                width="100%" alt="">
              <div class="blog_icon">
                <mat-icon>search</mat-icon>
                <mat-icon>attach_file</mat-icon>
              </div>
            </div>
            <div class="content">
              <h4>15 September, 2021</h4>
              <h2>Nullam ullamcorper ornare...</h2>
              <p>Suspendisse posuere, diam in bibendum lobortis, turpis ipsum...</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blog">
            <div class="image_blog">
              <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/psblog/b/5/1113_1430/b-blog-3.jpg"
                width="100%" alt="">
              <div class="blog_icon">
                <mat-icon>search</mat-icon>
                <mat-icon>attach_file</mat-icon>
              </div>
            </div>
            <div class="content">
              <h4>15 September, 2021</h4>
              <h2>Nullam ullamcorper ornare...</h2>
              <p>Suspendisse posuere, diam in bibendum lobortis, turpis ipsum...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="prev_next">
        <div class="swiper-button-next1">
          <span class='material-icons next1'>arrow_forward_ios</span>
        </div>
        <div class="swiper-button-prev1">
          <span class='material-icons prev1'>arrow_back_ios</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
<div class="the_end">
  <div class="brand">
    <div class="swiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/m/3.jpg" width="100%" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/m/4.jpg" width="100%" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/m/5.jpg" width="100%" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/m/6.jpg" width="100%" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/m/7.jpg" width="100%" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/m/8.jpg" width="100%" alt="">
        </div>
        <div class="swiper-slide">
          <img src="https://demo.codezeel.com/prestashop/PRS17/PRS170424/img/m/9.jpg" width="100%" alt="">
        </div>
      </div>
      <div class="prev_next">
        <div class="swiper-button-next2">
          <span class='material-icons next1'>arrow_forward_ios</span>
        </div>
        <div class="swiper-button-prev2">
          <span class='material-icons prev1'>arrow_back_ios</span>
        </div>
      </div>
    </div>
  </div>
</div>
