<div class=" mb-5 bg-primary">
    <div>
        <img src="https://cdn.shopify.com/s/files/1/0090/9236/6436/articles/Shopify_One_Page_Checkout_for_better_conversion_rate_1200x630.png?v=1620276027" width="100%" height="300px" alt="">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#checkout_one" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                        CheckOut
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#checkout_three" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                        Review your order
                    </button>
                </li>
            </ul>
        </div>

        <div class="col-lg-8">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="checkout_one" role="tabpanel" aria-labelledby="pills-home-tab">
                    <form [formGroup]="checkout" (ngSubmit)="checkOut()">
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="ip mb-3">
                                    <input type="text" class="form-control" name="name" value="" placeholder="Your FullName">
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="mb-3 ip">
                                    <input type="text" name="phone" value="" class="form-control" placeholder="Your Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="ip mb-3">
                            <input type="text" class="form-control" name="email" value="" placeholder="Your Email">
                        </div>
                        <div class="mb-3 ip">
                            <input type="text" name="address" value="" class="form-control" placeholder="Your Address">
                        </div>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="ip mb-3">
                                    <select class="form-select form-select-lg" formControlName="shippingMethod" style="font-weight:350; border: 1px solid #111; font-size: 17px; color:gray">
                                        <option [selected] value="">Shipping Method</option>
                                        <option value="home_delivery">Home Delivery</option>
                                        <option value="shipping_by_post">Shipping By Post</option>
                                        <option value="express_delivery">Express Delivery</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="ip mb-3">
                                    <select class="form-select form-select-lg" formControlName="paymentMethod" style="font-weight:350; border: 1px solid #111;font-size: 17px; color:gray">
                                        <option [selected] value="">Payment Method</option>
                                        <option value="cash_payment">Cash Payment</option>
                                        <option value="credit_card_payment">Credit Card Payment</option>
                                        <option value="e_wallet_payment">E-Wallet Payment</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"></label>
                            <textarea class="form-control" formControlName="orderNote" rows="3" placeholder="Your Content"></textarea>
                        </div>
                        <button type="submit" class="mb-5 mt-5 btn btn-dark " style="border-radius: 0; font-weight: 600;">Countinue</button>
                    </form>
                </div>
                <!-- <div class="tab-pane fade" id="checkout_two" role="tabpanel" aria-labelledby="pills-profile-tab">

                </div> -->
                <div class="tab-pane fade" id="checkout_three" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="list_cart_1024">
                        <div class="list-cart-top mt-5">
                            <div class="container container_custom ">
                                <div class="row d-flex justify-content-between ">
                                    <div class="row title_top col-lg-12 col-md-12 col-sm-6">
                                        <div class="col-lg-2 col-md-1 col-sm-12 title_cart">
                                            <h4>STT</h4>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 title_cart">
                                            <h4>PRODUCT NAME</h4>
                                        </div>
                                        <div class="col-lg-6 col-md-7 col-sm-12 d-flex text-center title_cart title_top_576">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <h4>PRICE</h4>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12">
                                                <h4>QUANTITY</h4>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-12">
                                                <h4>TOTAL</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row title_tops list_products text-center col-lg-12 col-md-12 col-sm-6 p-2 mb-5"
                                        *ngFor="let item of buyCarts"
                                    >
                                        <div class="col-lg-2 d-flex align-items-center col-md-1 col-sm-12 content_cart">
                                            <h5 class="id_cart">{{item.id}}</h5>
                                        </div>
                                        <div class="col-lg-4 d-flex align-items-center content_cart product_name_content col-md-4 col-sm-12">
                                            <img src="http://localhost:8080/api/v1/file/files/{{item.product.image}}" alt="" width="100px" height="100px">
                                            <h5 class="mx-3">{{item.name}}</h5>
                                            <strong>({{item.size.name}} +  <i [style.color]="item.color.name" class="ri-palette-line" style="font-size: 25px;"></i>)</strong>
                                        </div>
                                        <div class="col-lg-6 col-md-7 col-sm-12 d-flex align-items-center ">
                                            <div class="col-lg-4 col-md-4 content_cart col-sm-12">
                                                <h5>$ {{item.product.price}}</h5>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12">
                                                <div class="input text-center ml-3">
                                                    <input type="text" value="{{item.quantity}}" id="">
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 content_cart col-sm-12">
                                                <h5>$  {{item.product.price * item.quantity}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card p-3">
                <h5 class="text-center text-success"><strong>Summary in order</strong></h5>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr class="">
                                <td scope="row">Order value</td>
                                <td><b>$ 250</b></td>
                            </tr>
                            <tr class="">
                                <td scope="row">Transport fee</td>
                                <td><b>$ 0</b></td>
                            </tr>
                            <tr class="">
                                <td scope="row">Tax</td>
                                <td><b>$ 0</b></td>
                            </tr>
                            <tr class="">
                                <td scope="row"><b>Total</b></td>
                                <td><b>$ {{total}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <strong style="border-bottom: 1px solid #111;">Note: </strong> <br>
                <b>Total</b> = Order value + Transport fee + Tax
            </div>
        </div>
    </div>
</div>
