<div class="footer">
    <div fxLayout="row wrap" fxLayoutGap="15px grid" >
        <div 
        fxFlex="20%" 
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        >
            <div>
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-title><h3><strong>Store Information</strong></h3></mat-card-title>
                    </mat-card-header>
                   
                    <mat-card-content>
                      <div  fxLayoutAlign=" center" >
                        <mat-icon fxFlex="15%">map</mat-icon>
                        <p fxFlex="85%" >Grace - Clothe Store 507-Union Trade Centre France</p>
                      </div>
                      <div  fxLayoutAlign=" center" >
                        <mat-icon fxFlex="15%">phone</mat-icon>
                        <p fxFlex="85%" >000-000-0000</p>
                      </div>
                      <div  fxLayoutAlign=" center" >
                        <mat-icon fxFlex="15%">email</mat-icon>
                        <p fxFlex="85%" >sales@yourcompany.com</p>
                      </div>
                    </mat-card-content>
                </mat-card>
            </div>
            
            
        </div>
        <div 
        fxFlex="20%" 
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        >
            <div>
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-title><h3><strong>Products</strong></h3></mat-card-title>
                    </mat-card-header>    
                    <mat-card-content>
                      <ul>
                        <li><a href="">Prices drop</a></li>
                        <li><a href="">New products</a></li>
                        <li><a href="">Best sales</a></li>
                        <li><a href="">Contact us</a></li>
                        <li><a href="">Sitemap</a></li>
                      </ul>
                   
                    </mat-card-content>
                </mat-card>
            </div> 
        </div>
        <div 
        fxFlex="20%" 
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        >
            <div>
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-title><h3><strong>Our Company</strong></h3></mat-card-title>
                    </mat-card-header>    
                    <mat-card-content>
                      <ul>
                        <li><a href="">Delivery</a></li>
                        <li><a href="">Legal Notice</a></li>
                        <li><a href="">Terms and conditions of use</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Secure payment</a></li>
                      </ul>
                    </mat-card-content>
                </mat-card>
            </div> 
        </div>
        <div 
        fxFlex="20%" 
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        >
            <div>
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-title><h3><strong>Your Account</strong></h3></mat-card-title>
                    </mat-card-header>    
                    <mat-card-content>
                      <ul>
                        <li><a href="">Personal info</a></li>
                        <li><a href="">Orders</a></li>
                        <li><a href="">Credit slips</a></li>
                        <li><a href="">Addresses</a></li>
                      </ul>
                    </mat-card-content>
                </mat-card>
            </div> 
        </div>
        <div 
        fxFlex="20%" 
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        >
            <div>
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-title><h3><strong>Our Newsletter</strong></h3></mat-card-title>
                    </mat-card-header>    
                    <mat-card-content>
                      <p>Subscribe to our latest newsletter to get news about special discounts.</p>
                     
                        <form action="">
                          <div class="send_mail">
                          <input type="text" placeholder="Enter your email">
                          <button mat-button><span class='material-icons'>send</span></button>
                        </div>
                        </form>
                     
                      <a href=""><span class="material-icons">facebook</span></a>
                      <a href=""> <span class="material-icons">slideshow</span></a>
                     <a href=""><span class='material-icons'>rss_feed</span></a>
                     <a href=""><span class="material-icons">tiktok</span></a>
                      
                      
                    </mat-card-content>
                </mat-card>
            </div> 
        </div>
    </div>
    
</div>