<div class="bg-primary" >
    <div>
        <img src="https://thumbs.dreamstime.com/b/empty-shopping-cart-inscription-green-wooden-background-web-banner-wood-word-trolley-one-side-concept-online-178287757.jpg" height="300px" width="100%" alt="">
    </div>
</div>
<div class="container">
    <div>
        <div class="list_cart_1024">
            <div class="list-cart-top mt-5">
                <div class="container container_custom ">
                    <div class="row d-flex justify-content-between ">
                        <div class="row title_top col-lg-12 col-md-12 col-sm-6">
                            <div class="col-lg-1 col-md-1 col-sm-12 title_cart">
                                <h4></h4>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-12 title_cart">
                                <h4>PRODUCT NAME</h4>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-12 row title_cart title_top_576">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <h4>PRICE</h4>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <h4>QUANTITY</h4>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <h4>TOTAL</h4>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12">
                                    <h4></h4>
                                </div>
                            </div>
                        </div>
                        
                       
                        <div class="row title_tops list_products col-lg-12 col-md-12 col-sm-6"
                            *ngFor="let item of carts"
                        >
                            <div class="col-lg-1 d-flex align-items-center col-md-1 col-sm-12 content_cart">
                                <input type="checkbox" name="stt" value="{{item.id}}" style="width: auto; height: auto;" (click)="chooseCart(item)">
                            </div>
                            <div class="col-lg-5 d-flex align-items-center content_cart product_name_content col-md-4 col-sm-12">
                                <img src="http://localhost:8080/api/v1/file/files/{{item.product.image}}" alt="" width="100px" height="100px">
                                <!-- <h5 class="mx-3"><strong>ao</strong></h5> -->
                                <form>
                                    <div style="margin: 0px 25px">
                                        <h5 class="mb-2"><strong>{{item.product.name}}</strong></h5>
                                        <div class="d-flex">
                                            <div class="">
                                                <select class="form-select form-select-lg" name="sizeId" style="padding-top: 0; padding-bottom: 0; font-size: 18px;" (change)="updateSize($event.target, item.id)">
                                                    <option *ngFor="let v of item.product.variant" [value]="v.size.id" [selected]="item.size.id === v.size.id" >
                                                        {{v.size.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="">
                                                <select class="form-select form-select-lg" name="colorId" style="padding-top: 0; padding-bottom: 0; font-size: 18px;" (change)="updateColor($event.target, item.id)">
                                                    <option *ngFor="let v of item.product.variant" [value]="item.color.id" [selected]="item.color.id === v.color.id">
                                                        {{v.color.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-12 row align-items-center ">
                                <div class="col-lg-3 col-md-3 content_cart col-sm-12">
                                    <strong id="price{{item.id}}">$ {{item.product.price}}</strong>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <form action="" method="post" id="form">
                                        <div class="input ml-3">
                                            <button type="button" class="btn-fake btn left_ip" (click)="mark_cart('-', item.id)"><i class="ri-subtract-line"></i></button>
                                            <input type="text" name="quantity_cart" value="{{item.quantity}}" id="quantity{{item.id}}">
                                            <button type="button" class="btn-fake btn right_ip" (click)="mark_cart('+', item.id)"><i class="ri-add-line"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-3 col-md-3 content_cart col-sm-12">
                                    <h5><strong id="total{{item.id}}">$  {{item.product.price * item.quantity}}</strong></h5>
                                </div>
                                <div class="col-lg-1 col-md-1 content_cart col-sm-12">
                                    <a  (click)="delete(item.id)" style="color: #111;"><i class="ri-delete-bin-line"></i></a>
                                </div>
                            </div>
                        </div>
                       
                        <!-- <div class="pt-5 text-right">
                            <h5 class="text-danger"><strong>Total Price : $ {{ totalPrice }} </strong></h5>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container updateCart mt-5 mb-5 container_custom">
            <div class="proceed">
                <a  routerLink="/checkout">PROCEED TO CHECKOUT</a>
            </div>
            <div class="continues">
                <a  routerLink="/shop">CONTINUE SHOPPING</a>
            </div>
        </div>

        <!-- list_cart_768 -->

        <div class="list_cart_768">
                       <div class="list_cart_768 container_custom mt-5">
                <div class="list_cart">
                    <div class="row d-flex align-items-center item_title">
                        <div class="col-sm-6 col-4">
                            <h5>STT</h5>
                        </div>
                        <div class="col-sm-6 col-8 text-center">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex align-items-center item_title">
                        <div class="col-sm-6 col-4">
                            <h5>PRODUCT NAME</h5>
                        </div>
                        <div class="col-sm-6 col-8 d-flex align-items-center justify-content-center">
                            <span>ten sp</span>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex align-items-center item_title">
                        <div class="col-sm-6 col-4">
                            <h5>PRODUCT IMAGE</h5>
                        </div>
                        <div class="col-sm-6 col-8 d-flex align-items-center justify-content-center">
                            <img src="" alt="" width="80px" height="80px">
                        </div>
                    </div>
                    <form action="" method="post">
                        <div class="row mt-4 d-flex align-items-center item_title">
                            <div class="col-sm-6 col-4">
                                <h5>SIZE</h5>
                            </div>
                            <div class="col-sm-6 col-8 d-flex align-items-center justify-content-center">
                                <select class="form-select form-select-lg" name="" style="padding-top: 0; padding-bottom: 0; font-size: 18px; width: 50%;">    
                                    <option value="">
                                        S
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-4 d-flex align-items-center item_title">
                            <div class="col-sm-6 col-4">
                                <h5>COLOR</h5>
                            </div>
                            <div class="col-sm-6 col-8 d-flex align-items-center justify-content-center">
                                <select class="form-select form-select-lg" name="" style="padding-top: 0; padding-bottom: 0; font-size: 18px; width: 50%;">    
                                    <option value="">
                                        red
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-4 d-flex align-items-center item_title">
                            <div class="col-sm-6 col-4">
                                <h5></h5>
                            </div>
                            <div class="col-sm-6 col-8 d-flex align-items-center justify-content-center">
                                <button type="submit" class="text-light" style="background-color: green; border: 1px solid gray;">
                                    <i class="fa fa-upload" aria-hidden="true" style="font-size: 15px;"></i>
                                </button>
                            </div>
                        </div>

                    </form>

                    <div class="row mt-4 d-flex align-items-center item_title">
                        <div class="col-sm-6 col-4">
                            <h5>PRICE</h5>
                        </div>
                        <div class="col-sm-6 col-8 text-center">
                            <span>$ 11</span>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex align-items-center item_title">
                        <div class="col-sm-6 col-4">
                            <h5>QUANTITY</h5>
                        </div>
                        <div class="col-sm-6 col-8 text-center">
                            <form action="" method="post" id=""> 
                                <div class="input ml-3">
                                    <button type="button" class="btn-fake btn left_ip" onclick="mark_cart_768('-')"><i class="fa-solid fa-minus"></i></button>
                                    <input type="text" name="quantity_cart" value="" id="" onblur="quantityCart()">
                                    <button type="button" class="btn-fake btn right_ip" onclick="mark_cart_768('+')"><i class="fa-solid fa-plus"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex align-items-center item_title">
                        <div class="col-sm-6 col-4">
                            <h5>TOTAL</h5>
                        </div>
                        <div class="col-sm-6 col-8 text-center">
                            <span>$ </span>
                        </div>
                    </div>
                    <div class="remove mt-4">
                        <a href="" onclick="return confirm('are you ok ?')" style="color: #111;"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            </div>
    
            <div class="container updateCart mt-5 mb-5 container_custom">
                <div class="proceed">
                    <a href="">PROCEED TO CHECKOUT</a>
                </div>
                <div class="continues">
                    <a href="">CONTINUE SHOPPING</a>
                </div>
            </div>

        </div>
    </div>

    <!-- <div class="cart_empty text-center">
        <h3>Your cart is currently empty.</h3>
        <p class="text-secondary">
            Before proceed to checkout you must add some products to your shopping cart.
            You will find a lot of interesting products on our "Shop" page.
        </p>
        <a href="">Return to shop</a>
    </div> -->
</div>
