.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);

  @media (max-width: 450px) {
    height: 100%;
  }
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe; 
    outline: 0;
    box-shadow: none; 
}