<p>update-user works!</p>
<div class="container-fluid">
    <!-- --start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Create User</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0 justify-content-between">
                        <li class="breadcrumb-item"><a>User</a></li>
                        <li><a>></a></li>
                        <li class="breadcrumb-item active"><a>Create User</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- --end page title -->
    <form [formGroup]="formData" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="avata-title mr-3 ">
                                <i class="ri-instance-line"></i>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="card-title mb-1">User Information</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
                            <div *ngIf="f.firstName.invalid && (f.firstName.dirty||f.firstName.touched)">
                                <div *ngIf="f.firstName.errors?.['required']">
                                    <small id="helpId" class="text-danger">First name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                            <div *ngIf="f.lastName.invalid && (f.lastName.dirty||f.lastName.touched)">
                                <div *ngIf="f.lastName.errors?.['required']">
                                    <small id="helpId" class="text-danger">Last name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Full Name</label>
                            <input type="text" class="form-control" placeholder="Product Name" formControlName="fullName">
                            <div *ngIf="f.fullName.invalid && (f.fullName.dirty||f.fullName.touched)">
                                <div *ngIf="f.fullName.errors?.['required']">
                                    <small id="helpId" class="text-danger">Full tname is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row align-items-center">
                            <label class="form-label-title col-sm-3 mb-0">Gender</label>
                            <div class="col-sm-9 d-flex align-items-center" >
                                <div class="form-check me-4" >
                                    <input class="form-check-input" type="radio" value="1"  formControlName="gender" checked>
                                    <label class="form-check-label" >
                                        Male
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="0"  formControlName="gender" >
                                    <label class="form-check-label">
                                        FeMale
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Birthday</label>
                            <input type="date" class="form-control" placeholder="Birthday" formControlName="birthday">
                            <div *ngIf="f.birthday.invalid && (f.birthday.dirty||f.birthday.touched)">
                                <div *ngIf="f.birthday.errors?.['required']">
                                    <small id="helpId" class="text-danger">Birthday is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Email</label>
                            <input type="text" class="form-control" placeholder="Email" formControlName="email">
                            <div *ngIf="f.email.invalid && (f.email.dirty||f.email.touched)">
                                <div *ngIf="f.email.errors?.['required']">
                                    <small id="helpId" class="text-danger">Email is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Password</label>
                            <input type="password" class="form-control" placeholder="Password" formControlName="password">
                            <div *ngIf="f.password.invalid && (f.password.dirty||f.password.touched)">
                                <div *ngIf="f.password.errors?.['required']">
                                    <small id="helpId" class="text-danger">Password is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Address</label>
                            <input type="text" class="form-control" placeholder="Address" formControlName="address">
                            <div *ngIf="f.address.invalid && (f.address.dirty||f.address.touched)">
                                <div *ngIf="f.address.errors?.['required']">
                                    <small id="helpId" class="text-danger">Address is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Phone</label>
                            <input type="text" class="form-control" placeholder="Phone" formControlName="telephone">
                            <div *ngIf="f.telephone.invalid && (f.telephone.dirty||f.telephone.touched)">
                                <div *ngIf="f.telephone.errors?.['required']">
                                    <small id="helpId" class="text-danger">Phone is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-sm-3 col-form-label form-label-title">Role</label>
                            <select class="form-select" aria-label="Default select example" formControlName="role">
                                <option value="USER" selected >User</option>
                                <option value="ADMIN">Admin</option>
                                <option value="MANAGER">Manager</option>
                            </select>
                            <div *ngIf="f.role.invalid && (f.role.dirty||f.role.touched)">
                                <div *ngIf="f.role.errors?.['required']">
                                    <small id="helpId" class="text-danger">Role is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row align-items-center">
                            <label class="form-label-title col-sm-3 mb-0">Enabled</label>
                            <div class="col-sm-9 d-flex align-items-center" >
                                <div class="form-check me-4" >
                                    <input class="form-check-input" type="radio" value="1"  formControlName="enabled" checked>
                                    <label class="form-check-label" >
                                        On
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" value="0"  formControlName="enabled" >
                                    <label class="form-check-label">
                                        Off
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Update</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end-col -->
            <div class="col-xl-3 col-lg-4">
            </div>
            <!-- end-col -->
        </div>
        <!-- end-row -->
    </form>
</div>